node_modules
# I use workspaces, no package-lock.json here
package-lock.json

# Output
.output
.vercel
/.svelte-kit
/build
/test-results

# Env
.env
.env.*
!.env.example
!.env.test
.venv

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Custom
.tmp
*.patch
